*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/login-register.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid rgba(255, 255, 255, .8);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
}

.wrapper2{
    display: flex;
    justify-content: left;
    margin: 30px 0;
}

.wrapper3{
    width: 100%;
    margin: 30px 0;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper2 .input-box{
    position: relative;
    width: 80%;
    height: 50px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    padding: 20px 20px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .btn{
    width: 15%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10 rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-left: 30px;
}

.wrapper3 .btn-delete{
    width: 15%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10 rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
}

.wrapper3 ul{
    width: 100%;
}

.wrapper3 li{
    padding: 10px;
}

.wrapper3 .check-box{
    width: 15%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
}

.wrapper3 .title-box{
    display: flex;
    justify-content: left;
}